body{
    background-color: #f9f9f9;
}
#outerBox{
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#innerBox{
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

/* #innerBox:hover{
    background-color: blue;
    transition: all 10s ease-in 1s;
} */

#innerBox:active{
    background-color: antiquewhite;
}


/* transation */

#innerBox{
    /* transition-property: all;
    transition-duration: 4s;
    transition-timing-function: step-end;
    transition-delay: 1s; */
    animation-name: firstAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 4;
}


/* animation template */

@keyframes firstAnimation {
    from {background-color: aquamarine;}
    to {background-color: red;}
}
.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid black;
    border-top: 10px solid salmon;
    animation: spin 3s ease-in-out 0s infinite normal;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}